<!--<app-config-service></app-config-service>-->
<router-outlet></router-outlet>
<!--<app-user></app-user>-->
<!--&lt;!&ndash;<input type="text" [(ngModel)]="name">&ndash;&gt;-->
<!--&lt;!&ndash;<input type="text" [(ngModel)]="name">&ndash;&gt;-->


