<!--<p>-->
  <!--config-service works!-->
<!--</p>-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
    <ul class="list-group" *ngFor="let post of PostData">
      <a routerLink="/posts/{{post.id}}"><li class="list-group-item">{{post.title}}</li></a>
      <!--<li class="list-group-item" (click)="goToUserIDClick(user)">{{user.title}}</li>-->
    </ul>
    </div>
  </div>
    <!--<app-post></app-post>-->
  <!--<div class="col-md-2">-->
    <!--<a routerLink="/posts"><button type="button" class="btn btn-success" (click)="onBackClick()">Back</button></a>-->
  <!--</div>-->
</div>
