/* You can add global styles to this file, and also import other style files */
body{
  padding: 10px;
}
button{
  margin: 3px;
  margin-top: 20px;
}
a{
  text-decoration:none;
  color: gray;
}
a:hover{
  color: gray;
}
