
<div class="row">
  <div class="col-md-6">
    <h4>{{UserData.title}}</h4>
    {{UserData.body}}
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <a routerLink="/posts"><button type="button" class="btn btn-success">Back</button></a>
  </div>
</div>

